
<% provide(:title, "About") %>
<!doctype html>
<html>
	<head>
		<title> <%=yield(:title  ) %> | Ruby on Rails Tutorial Sample App </title>
	</head>

<h1>About </h1>
<p>
	Yeah! it's an about page! </br>

	but why not you know<a href="http://in.linkedin.com/pub/shiv-gupta/5a/7b7/191/">About me!
</p>

</html>
