<% provide(:title, "Help")%>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title)%> | Ruby on Rails Tutorial Sample App</title>
	</head>
	<body>
	
		<h1>may I "Help" you? :P</h1>
		<p>tune to shiv_bcs11@nitc.ac.in</p>
	</body>

</html>
