	<div class="center jumbotron">
    <h1>Sample App</h1>
    <h2>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
	<p>
	"Goodbyeee", or "Plan F: Goodbyeee",[nb 1] is the sixth and final episode of the British historical sitcom Blackadder '​s fourth series, entitled Blackadder Goes Forth. The episode was first broadcast on BBC One in the United Kingdom on 2 November 1989, shortly before Armistice Day. Apart from the one-off short film Blackadder: Back & Forth made a decade later, it was the last episode of Blackadder to be produced and transmitted.
The episode depicts its main characters' final hours before a British offensive on the Western Front of the First World War, and Captain Blackadder's failed attempts to escape his fate by feigning madness; after he cannot convince General Melchett, and Field Marshal Haig's advice is useless, he is resigned to take part in the push. It has a darker tone than other episodes in the series, culminating in its acclaimed ending scene in which the main characters are assumed to die in machine-gun fire. The episode's theme of death ties in with the series' use of gallows humour, its criticism and satire of war, and its depiction of authority figures contentedly sending their subordinates to face the enemy, while unwilling to do so themselves.
Richard Curtis and Ben Elton wrote the episode. Additional material was provided by its cast members. Its final sequence, which shows the main characters going "over the top", uses slow motion, as the programme's creators were unhappy with the result of the scripted ending. The enhanced scene has been described as bold and highly poignant.[4]
</p>
 <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("shiv.jpg", alt: "Rails logo") %>


